# Database
*.db
*.sqlite3

# Virtual Environment
.venv/
.venv-1/
venv/

# Environment Variables
.env

# Uploads
uploads/

# Database folder
instance/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
__pycache__/
*.pyc